* {
  box-sizing: border-box;
}

    /*Mobil-vennlig*/
    @media screen and (max-width: 767px) {
      .Nav-Meny {
        padding: 20px 10px !important;
      }
      li {
        float: none;
        justify-content: center;
        text-align: center;
      }
      .FloatRight {
        float: none;
        justify-content: center;
        text-align: center;
      }
      .Kolonne {
        max-width: 100% !important;
      }
    }

    .Kolonne {
      display: flex;
      flex-direction: column;
      max-width: 50%;
      text-align: center;
      padding: 1rem;
    }

    .Tilbud-container {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }

    .Tilbud-container h3 {
      color: white;
      font-family: 'Times New Roman', Times, serif;
    }

    .Kolonne img {
      width: 100%;
      vertical-align: middle;
      border-radius: 1rem;
    }