* {
  box-sizing: border-box;
}

/*Mobil-vennlig*/
@media screen and (max-width: 767px) {
  .Nav-Meny {
      padding: 20px 10px !important;
  }
  li {
      float: none;
      justify-content: center;
      text-align: center;
  }
  .FloatRight {
      float: none;
      justify-content: center;
      text-align: center;
  }
  .topp-tekst {
    font-size: 120% !important;
  }
}

@media screen and (max-width: 500px) {
  .tilbud-container div {
    width: 75vw !important;
  }
}

@media screen and (max-width: 420px) {
  .tilbud-container div {
    width: 60vw !important;
  }
}

.topp-tekst-container {
  display: flex;
  justify-content: center;
}

.topp-tekst {
  font-size: 150%;
  background-color: rgb(136, 103, 236);
  padding: 1rem;
  border-radius: 1rem;
}

.tilbud-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 3fr));
  width: 98vw;
}

.tilbud-container div {
  color: white;
  text-align: center;
}

.img {
  width: 95%;
  border-radius: 2rem;
}