header h1 {
    color: white;
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    margin: 0;
  }

@media screen and (max-width:767px) {
    .utdanning-container {
        flex-direction: column;
    }
}

@media screen and (min-width:767px) {
  .utdanning-container {
    margin-bottom: 15rem;
  }
}

@media screen and (max-width:450px) {
    header h1 {
        font-size: 1.75rem;
    }
}

.type-utdanning-container {
  display: inline-flex;
  justify-content: center;
  margin: 0;
}

.type-utdanning-container h3 {
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;
  background-color: indianred;
}

.utdanning-container {
  display: flex;
  justify-content: space-around;
}

.om-utdanning-kolonne {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(136, 103, 236);
  border-radius: 1.5rem;
  font-size: 1.15rem;
  flex-basis: 33%;
}

.kvaliteter-kolonne {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(136, 103, 236);
  border-radius: 1.5rem;
  font-size: 1.15rem;
  flex-basis: 33%;
}

.vei-videre-kolonne {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(136, 103, 236);
  border-radius: 1.5rem;
  font-size: 1.15rem;
  flex-basis: 33%;
}