* {
  box-sizing: border-box;
}

/*Bakgrunnsfarge for hele nettsiden*/
body {
    background-color: #696969;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
header h1 {
  color: white;
  font-size: 3rem;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
/*Topp meny*/
/*Gjør at teksten ikke oppfører seg som en liste*/
.Nav-Meny {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 5px;
}
/*Linker til andre dokument*/
li {
  float: left;
}
/*"GitHub knappen*/
.FloatRight {
  float:right;
}
/*Style link-knappene*/
li a {
  display: block;
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(136, 103, 236);
  color: #333;
}

.HomeButton:hover .star {
  color: yellow;
}

li a, .Drop-Knapp {
  display: inline-block;
  color: white;
  text-align: right;
  vertical-align: auto;
  padding: 14px 16px;
}

.Dropdown-Content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 10rem;
  z-index: 1;
}

li .Dropdown-Fag {
  display: inline-block;
}

.Dropdown-Fag:hover .Dropdown-Content {
  display: block;
}

/*Gjør topp-menyen mobil-vennlig*/
@media screen and (max-width:767px) {
  .Nav-Meny {
    padding: 20px 10px !important;
    }
  li {
    float: none;
    justify-content: center;
    text-align: center;
    }
  .FloatRight {
    float: none;
    justify-content: center;
    text-align: center;
    }
  }
  
  .aktiv-fane {
  background-color: rgb(136, 103, 236);
  color: #333;
  border-width: 2px;
  padding: 12px 14px;
  border-color: #333;
  border-style: dashed;
  }
  
  footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #333;
    padding: 5px;
    border-radius: 1rem;
  }
    
  footer a {
    color: white;
  }

/*Gjør main content stor nok slik at footer blir plassert på bunnen*/
main {
  min-height: calc(100vh - 132.8px - 60.4px);
}

/*CSS for de ulike linjene*/
.type-utdanning-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.type-utdanning-container h3 {
  padding: 1rem;
  margin: 0;
  border-radius: 1rem;
  background-color: indianred;
}

/*Gjør at utdanningsboksene blir stablet oppå hverandre på mindre skjermer*/
@media screen and (max-width:767px) {
  .utdanning-container {
      flex-direction: column;
  }
}

.utdanning-container {
  display: flex;
  justify-content: space-around;
}

/*De ulike kolonnene på de ulike linjene*/
.om-utdanning-kolonne {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(136, 103, 236);
  border-radius: 1.5rem;
  font-size: 1.15rem;
  flex-basis: 33%;
}

.kvaliteter-kolonne {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(136, 103, 236);
  border-radius: 1.5rem;
  font-size: 1.15rem;
  flex-basis: 33%;
}

.vei-videre-kolonne {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(136, 103, 236);
  border-radius: 1.5rem;
  font-size: 1.15rem;
  flex-basis: 33%;
}

/*CSS som er likt for prosjektene*/
.om-oppgaven-tittel {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 20px 0px 15px;
}

.om-oppgaven-container {
  display: flex;
  justify-content: center;
}

.om-oppgaven-tekst {
  padding: 0.5rem;
  margin: 1rem;
  background-color: rgb(136, 103, 236);
  border-radius: 1.5rem;
  font-size: 1.25rem;
  flex-basis: 66%;
}