/*Minsker størrelsen på tittelen på mindre skjermer*/
@media screen and (max-width:450px) {
    header h1 {
        font-size: 1.75rem !important;
    }
}

.Bilde {
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/*Gjør main content stor nok slik at footer blir plassert på bunnen*/
main {
    min-height: calc(100vh - 186.4px - 60.4px);
}