/*Minsker størrelsen på tittelen på mindre skjermer*/
@media screen and (max-width:450px) {
    header h1 {
        font-size: 1.75rem !important;
    }
}

.Bilde {
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}